---
import "../styles/global.css";
// Component Imports
import Layout from "@/layouts/main.astro";
import { signOut } from "@/lib/auth";
import { actions } from "astro:actions";
import GoogleSvg from "../../public/google.svg";
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from "@/components/ui/card";
import { Button } from "@/components/ui/button";
import ClientLogoutButton from "@/components/client/client-logout-button.astro";

// result of the action afer performing a POST logout
const result = Astro.getActionResult(actions.logout);
console.log("Logout result:", result);
if (result && !result.error) {
  return await signOut(Astro, false, "/");
}
---

<Layout>
  <main class="min-h-screen flex flex-col">
    <div class="flex flex-col items-center justify-center p-4">
      <div class="mb-8 text-center">
        <h1 class="text-3xl font-bold">Logout Page</h1>
      </div>
      <Card className="w-full max-w-md">
        <CardHeader>
          <CardTitle className="text-2xl">Logout</CardTitle>
          <CardDescription>You can choose between 2 differents ways to log out.</CardDescription>
        </CardHeader>
        <CardContent>
          <div>
            <div class="mt-4 flex flex-col space-y-2">
              <form method="POST" action={actions.logout}>
                <input type="hidden" name="callbackUrl" value="/" />
                <Button type="submit" variant="outline" className="w-full">
                  <GoogleSvg width={18} height={18} />
                  Logout using a POST action
                </Button>
              </form>
              <ClientLogoutButton revokeToken={true} callbackUrl="/">Logout using a client-side button with revoke token </ClientLogoutButton>
            </div>
          </div>
        </CardContent>
      </Card>
    </div>
  </main>
</Layout>
